/* For Mobile Devices 
-----------------------*/
@media screen and (max-width:425px) {
  
  .nav-container, .nav-items{
    flex-direction: column;
  }
  .nav-logo-container{
    width:100%;
    justify-content: center;
  }
  .nav-items{
    width:100%;
    margin:2rem auto;
  }
  
}




/* For Medium Devices
--------------------- */

@media screen and (min-width:425.1px) and (max-width:768px) {
  .nav-container, .nav-items{
    flex-direction: column;
  }
  .nav-logo-container{
    width:100%;
    justify-content: center;
  }
  .nav-items{
    width:100%;
    margin:2rem auto;
  }


}